*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body{
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #edefec;
}
.position-relative{
    position: relative;
}
.container {
    width: 60%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.border{
    border: 1px solid #8e8f91;
}
.border-radius{
    border-radius: 12px;
}
.container-input{
    width: 500px;
    max-width: 100%;
}
.inputPost{
    width: 100%;
    padding: 12px 80px 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.inputPost:focus{
    outline: none;
    border: 2px solid #0069d9;
}
.inputPost:disabled{
    background-color: #ccc;
}
.inputPost:disabled:focus{
    outline: none;
}
.p-4 {
    padding: 1rem;
}
.mx-3 {
    margin: 1rem 0;
}
.mb-2{
    margin-bottom: 1rem;
}
.itemsPost-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-style: italic;
}
.item-footer {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}
.itemsPost-footer-date{
    background-image: url("../img/date.svg");
}
.itemsPost-footer-coord{
    background-image: url("../img/location.svg");
}
.btn-microphone{
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 12px;
    background-image: url("../img/microphone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    z-index: 1;
}
.btn-microphone:hover{
    cursor: pointer;
}
.modal[open]{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: white;
    border: none;
    border-radius: 1rem;
    padding: 30px;
    max-width: 300px;
    width: 100%;
}
.modal[open]::backdrop{
    background: rgba(10,10,10,0.7);
}
.hidden{
    display: none;
}
